<nav class="animated bounceInLeft">
  <ul>
    <li>
      <a routerLink="">
        <i class="far fa-user-circle"></i>
      </a>
    </li>
    <li>
      <a routerLink="albums">
        <i class="fas fa-image"></i>
      </a>
    </li>
    <li> 
      <a routerLink="charts">
        <i class="fas fa-chart-bar"></i>
      </a>
    </li>
    <li>
      <a routerLink="danger-info">
        <i class="fas fa-info-circle"></i>
      </a>
    </li>
    <li>
      <a routerLink="map-line">
        <i class="fas fa-globe"></i>
      </a>
    </li>
    <li>
      <a routerLink="question">
        <i class="fal fa-question"></i>
      </a>
    </li>
  </ul>
</nav>
