@import 'animate.min';

/* You can add global styles to this file, and also import other style files */
body{
    margin:0;
    color: #fff;
    background:url('./assets/img/blue-abstract.jpg');
    background-size: 100%;
    background-repeat: repeat-y;
    height: 100vh;
}

#container{
    display: grid;
    grid-template-columns: 70px auto; //lm doc sidebar
    height: 100%;
}